*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
nav{
    font-family: 'Poppins', sans-serif;
    height: auto;
    width: 100%;
    background: url(images/vidar-nordli-mathisen-Xb__KZBPzHQ-unsplash.jpg) no-repeat;
    background-size: cover;
    height: calc(115vh - 80px);
}
.logo{
   width: 150px;
   padding-left: 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
    margin-right: 60px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding-right: 20px;
}

a.active, nav ul li a:hover{
    color: green;
    transition: .5s;
}

.checkbtn{
    color: white;
    float: right;
    line-height: 80px;
    font-size: 30px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
.landing-page{
    width: 100%;
    height: 50em;
   
}

.dropdown{
    overflow: hidden;
    float: left;
}
.dropdown, .dropbtn{
    margin: 0;
    outline: none;
    
    background-color: inherit;

}
.dropdown-content{
    float: none;
    min-width: 120px;
    text-align: left;
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
    float: none;
    color: #f5f5f5;
    display: block;
    padding-bottom: 5px;
    background: black;
    text-decoration: none;
}
.dropdown-content a:hover{
    color: red;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.logo > img{
    width: 100px;
    margin-top: 0px;
    overflow: hidden;
}
.logo-nav{
    display: flex;
}
.bag img{
    margin-right: 20px;
    margin-top: 25px;
}

.landing-text{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.marvrix{
    font-family: 'Russo One', sans-serif;
    font-size: 64px;
    color: #F1F5E7;
    -webkit-text-stroke: 1px #000000;
    text-align: center;
    margin: 0 auto;
}
.paradigm{
    font-family: 'Hi Melody', cursive;
    font-size: 32px;
    color: red;
    text-align: right;
    margin: 0 auto;
    width: 60%;
    -webkit-text-stroke: 1px #F2E8FB;
}

.upcoming-events{
    background: #f5f5f5;
    position: relative;
    z-index: -1;
    width: 100%;
}

.upcoming-events > p, .entertainment-news > p{
    font-size: 36px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.event img{
    width: 100%;
    height: auto;
}

.event{
    background: #ffffff;
    position: relative;
    z-index: 100;
    width: auto;
    margin: 0 15px 95px 0;
    
}
.event p{
    align-items: center;
    text-align: center;
    margin: 0 auto;
    
}

.event > p{
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}
.head{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.event button{
    display: block;
    width: 100px;
    height: 30px;
    background: #232220;
    color: #ffffff;
    border: none;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
}


.events{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.date{
    padding-bottom: 30px;
}
.container{
    width: 85%;
    margin: 0 auto;
    
}
.entertainment-news{
    margin-bottom: 5rem;
}
.news{
    display: flex;
    height: 450px;
    margin-bottom: 15px;
}

.news img{
    height: 450px;
    width: 100%;
}

.news > p{
    background: #f5f5f5;
    padding: 10% 50px 0px 30px;
    text-align: left;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.address > i{
   font-size: 34px;
}

.contact-location{
    display: flex;
    width: 50%;
    margin: 20px auto;
}

.contact{
    width: 100%;
    height: auto;
    background: #f5f5f5;
    margin-bottom: 30px;
    padding-bottom: 40px;
}

.contact > p{
    text-align: center;
    padding-top: 40px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.location{
    width: 100%;
}

.location img{
    height: auto;
    width: 100%;
}

.address{
    display: flex;
    margin:0 20px 20px 19% ;
}

.address > p{
    margin-left: 10px;
    justify-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.address-container{
    margin-top: 10%;
}

.icons{
    margin-left: 19%;
    display: flex;
    width: 50%;
    margin-top: 30px;
    justify-content: space-between;
}

.icons > a{
    font-size: 34px;
    cursor: pointer;
    text-decoration: none;
    color: #292929;
}

footer{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 790px){
    .logo{
        font-size: 30px;
        padding-left: 30px;
        width: 120px;
        padding-top: 15px;
    }

    nav ul li a{
        font-size: 16px;
    }

    .checkbtn{
        display: block;
        padding-top: 15px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 15vh;
        left: -100%;
        text-align: center;
        transition: all .5s;
        background: pink;
        padding-top: 80px;
        z-index: 1;
    }

    nav ul li{
        display: block;
        margin: 50px 0 ;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav ul li a:hover, nav ul li a.active{
        font-size: 25px;
        background: none;
    }
   #check:checked ~ ul{
       left: 0;
   }
   .paradigm{
    font-size: 32px;
    color: #F1F7EC;
    text-align: right;
    margin: 0 auto;
    -webkit-text-stroke: 1px #F2E8FB;
    }
    
    .marvrix{
        font-family: 'Russo One', sans-serif;
        font-size: 50px;
        color: #F1F5E7;
        -webkit-text-stroke: 1px #000000;
        text-align: center;
        margin: 0 auto;
    }

    .events{
       flex-wrap: wrap;
       width: 50%;
    }
    .address > p{
        margin-left: 10px;
        justify-items: center;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        word-wrap: break-word;
        width: 150px;
    
    }
}
