*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background: #f5f5f5;
}

.nav-bar {
    height: 70px;
  }
  
  .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
  }
  .brand img {
      max-height: 70px;
  }
  
  .nav-container {
    width: 100%;
    margin: 0 auto;
  }
  
  nav {
    float: right;
    z-index: 1;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    float: left;
    position: relative;
  }
  nav ul li a,
  nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    transition: all .5s;
    color: #000000;
    text-decoration: none;
  }
  nav ul li a:hover,
  nav ul li a:visited:hover {
    color: green;
  }
  nav ul li a:not(:only-child):after,
  nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
  }
  nav ul li ul li {
    min-width: 190px;
  }
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
  }
  
  .nav-dropdown {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  }
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
  }
  
  @media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
      
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
    z-index: 10;
    background: #262626;
  }
  nav ul li a, 
        nav ul li a:visited {
          padding: 15px;
          line-height: 20px;
          padding-left: 25%;
          font-size: 18px;
          color: #ffffff;
        }
  nav ul li ul li a {
    padding-left: 30%;
  }
      
  .nav-dropdown {
    position: static;
  }

  .brand a img {
    max-height: 60px;
    margin-top: 5px;
    }
  }
  @media screen and (min-width: 799px) {
    .nav-list {
      display: block !important;
    }

    
  }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: black;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }

.big-image{
  grid-row: 1 / span 2;
  width: 70vw;
}

.gallery-text{
  text-align: center;
  font-size: 25px;
  margin-bottom: 25px;
  font-family: 'Montserrat';
  font-weight: 500;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

footer{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}