*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background: #f5f5f5;
}

.nav-bar {
    height: 70px;
  }
  
  .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
  }
  .brand img {
      max-height: 70px;
  }
  
  .nav-container {
    width: 100%;
    margin: 0 auto;
  }
  
  nav {
    float: right;
    z-index: 1;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    float: left;
    position: relative;
  }
  nav ul li a,
  nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    transition: all .5s;
    color: #000000;
    text-decoration: none;
  }
  nav ul li a:hover,
  nav ul li a:visited:hover {
    color: green;
    
  }
  nav ul li a:not(:only-child):after,
  nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: '▾';
  }
  nav ul li ul li {
    min-width: 190px;
    color: #ffffff;
  }
  nav ul li ul li a {
    padding: 10px;
    line-height: 20px;
    color: #ffffff;
  }
  
  .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 10;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  }
 
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
  }
  
  @media only screen and (max-width: 798px) {
      .nav-mobile {
          display: block;
        }
      
        nav {
          width: 100%;
          padding: 70px 0 15px;
        }
        nav ul {
          display: none;
        }
        nav ul li {
          float: none;
          z-index: 10;
          background: #262626;
        }
        nav ul li a, 
        nav ul li a:visited {
          padding: 15px;
          line-height: 20px;
          padding-left: 25%;
          font-size: 18px;
          color: #ffffff;
        }
        nav ul li ul li a {
          padding-left: 30%;
          
        }
      
        .nav-dropdown {
          position: static;
  
        }
  
          .brand a img {
              max-height: 60px;
              margin-top: 5px;
          }
  }
  @media screen and (min-width: 799px) {
    .nav-list {
      display: block !important;
    }
  }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: black;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }

iframe{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 350px;
}

.vid-container{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
}
.about-marvrix{
    margin-bottom: 30px;
}
.about-marvrix p, .about-marvrix h3{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.about-marvrix h3{
    padding: 10px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.upcoming-events{
    background: pink;
    position: relative;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.upcoming-events > p{
    font-size: 36px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
}
.founders, .vice-presidents, .other-positions, .publicists{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 15px;
    
}

.founder p, .ceo p{
    text-align: center;
}
.head{
    padding-top: 10px;
    font-weight: 500;
}
.head, .text{
    text-align: center;
    margin: 0 auto;
}
.members p, .publicists p, .vice-presidents p, .other-positions p{
    text-align: center;
    width: auto;
}
.vice-one, .vice-one img, .publicist, .publicist img, .ceo img{
    width: 150px;
}

.vice-presidents img, .other-positions img, .publicists img, .founder img, .ceo img{
    border-radius: 50%;
}

.vice-one, .founder, .position, .publicist, .ceo{
    margin: 0px 10px;
}

.founder img, .ceo img{
    width: 300px;
    height: auto;
}

.ceo, .ceo img{
  display: block;
  margin: 0 auto;
  justify-content: center;
}

.ceo{
  width: 100%;
  justify-content: center;
}

.position, .position img{
    width: 150px;
}
.text{
    text-align: left;
    padding-bottom: 30px;
}


footer{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 698px){
    .founder,.founder img, .ceo, .ceo img{
        width: 190px;
    }

   .vid-container{
    margin-top: 20px;
    }
 iframe{
     width: 60%;
     height: auto;
 
    }
}


footer{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
